#Пример заполнения
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Kanban
    username: kanban_user
    password: kanban_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

  security:
    jwt:
      secret-key: "SECRET"
      access-time: 0
      refresh-time: 0

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE